
# s2i full build settings to pull from private repo
SCM_SSH_KEY_PATH="$HOME/.ssh/other_id_rsa"


#simple deployment settings require quay.io (robot) read credentials.
IMAGE_REPOSITORY=quay.io/redhatdemo/demo4-web-game-nginx:latest
