@import 'variables.scss';

.game-el-container {
  height: 100%;

  &.machine-baby-blue {
    background: $machine-baby-blue;
  }
  &.machine-black {
    background: $machine-black;
  }
  &.machine-green {
    background: $machine-green;
  }
  &.machine-pink {
    background: $machine-pink;
  }
  &.machine-purple {
    background: $machine-purple;
  }
  &.machine-red-alt {
    background: $machine-red-alt;
  }
  &.machine-red {
    background: $machine-red;
  }
  &.machine-turquoise {
    background: $machine-turquoise;
  }
  &.machine-yellow {
    background: $machine-yellow;
  }
}

.game {
  p, small {
    line-height: 1.2em;
  }

  .header {
    div {
      padding: 0.5em 1em; flex: 1;
    }

    div:first-of-type {
      text-align: left;
    }

    div:last-of-type {
      text-align: right;
    }

    h3 {
      color: white; text-shadow: #333 1px 1px 3px; text-transform: uppercase; font-weight: bold;
    }
  }

  &.lobby {
    padding-top: 30vh;
  }
  &.paused, &.stopped {
    padding-top: 40vh;
  }

}



.move-selector {
  align-items: center;
  margin-top: 25vh;
  display: flex;

  #move-scroller h2 {
    text-transform: uppercase;
    color: white;
    text-shadow: rgb(51, 51, 51) 1px 1px 3px;
  }
}

.game.borked {
  padding: 15vh 1em;

  ol li {
    padding-top: 0.5em;
  }
}

.game.active {
  .header {
    display: flex;
    width: 100vw;

    div {
      z-index: 2;
    }

    img {
      z-index: 1;
      position: absolute;
    }
  }

  .machine-info-container {
    width: 100%;
    display: flex;
    bottom: 0;
    position: absolute;
  }

  .machine-info-container.reverse {
    flex-direction: row-reverse;
  }

  /* CSS specific to iOS devices becuase Safari is garbage */
  @supports (-webkit-overflow-scrolling: touch) {
    .move-selector {
      // iOS won't scroll elements without this
      -webkit-overflow-scrolling: touch;
    }
  }

  #indicator-container {
    display: flex;
    align-items: center;
  }

  #indicator-container canvas {
    margin: auto;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 5px rgba(51, 51, 51, 0.25);
  }

  .machine-container {
    img {
      position: relative;
      bottom: -3px;
    }

  }

}
