@import 'variables.scss';

.game-el-container {
  height: 100vh;

  &.machine-baby-blue {
    background: $machine-baby-blue;
    .motion-heading {
      text-shadow:1px 1px 0 $machine-baby-blue, 2px 2px 0 rgba(0,0,0,.2);
    }
  }
  &.machine-black {
    background: $machine-black;
    .motion-heading {
      text-shadow:1px 1px 0 $machine-black, 2px 2px 0 rgba(0,0,0,.2);
    }
  }
  &.machine-green {
    background: $machine-green;
    .motion-heading {
      text-shadow:1px 1px 0 $machine-green, 2px 2px 0 rgba(0,0,0,.2);
    }
  }
  &.machine-pink {
    background: $machine-pink;
    .motion-heading {
      text-shadow:1px 1px 0 $machine-pink, 2px 2px 0 rgba(0,0,0,.2);
    }
  }
  &.machine-purple {
    background: $machine-purple;
    .motion-heading {
      text-shadow:1px 1px 0 $machine-purple, 2px 2px 0 rgba(0,0,0,.2);
    }
  }
  &.machine-red-alt {
    background: $machine-red-alt;
    .motion-heading {
      text-shadow:1px 1px 0 $machine-red-alt, 2px 2px 0 rgba(0,0,0,.2);
    }
  }
  &.machine-red {
    background: $machine-red;
    .motion-heading {
      text-shadow:1px 1px 0 $machine-red, 2px 2px 0 rgba(0,0,0,.2);
    }
  }
  &.machine-turquoise {
    background: $machine-turquoise;
    .motion-heading {
      text-shadow:1px 1px 0 $machine-turquoise, 2px 2px 0 rgba(0,0,0,.2);
    }
  }
  &.machine-yellow {
    background: $machine-yellow;
    .motion-heading {
      text-shadow:1px 1px 0 $machine-yellow, 2px 2px 0 rgba(0,0,0,.2);
    }
  }
}

*, *:after, *:before {
  box-sizing: border-box;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.game {

  p, small {
    line-height: 1.2em;
  }

  .header {
    padding:1rem;
    &-player {
      text-align: left;
    }
    &-score {
      text-align: right;
    }

    h3 {
      color: white; 
      text-shadow:1px 1px 0 rgba(8, 187, 178, 0.2), 2px 2px 0 rgba(0,0,0,.2);
      text-transform: capitalize; 
      letter-spacing: 1px;
      margin: 0;
    }
  }

  &.lobby {
    padding-top: 30vh;
  }
  &.stopped {
    background-size: cover;
    width: 100%;
    height: 100%;

    h1 {
      font-size: calc(2rem + 4vw);
      margin: 0;
    }

    h2 {
      font-size: calc(2rem + .5vw);
      text-shadow:1px 1px 0 rgba(255,255,255,1), 2px 2px 0 rgba(8, 187, 178, 0.8);
      margin: 0;
    }
  }
  &.paused {
    padding-top: 40vh;
  }

}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 4vw;
  padding: 0 3vw;
}

.button-move-selector {

  h2 {
    color: white;
    margin:5vh 0; 
  }

  .button-container {
    transition: all 0.25s;
    border-radius: .5em;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    opacity: .5;
    border: 1em #fff solid;
    position:relative;
    
  

    &.selected {
      opacity: 1;
    }
    
    & > img {
      max-height: 65px;
      margin-top: .5rem;
    }

    .star {
      position: absolute;
      width:30px;
      height:30px;
      border-radius: 100%;
      background: #fff;
      padding:.25rem .4rem;
      left: 50%;
      top: -1.5rem;
      transform: translateX(-50%);
    }

    h3 {
      margin: 0;
      position:relative;
      z-index: 10;
      flex-basis: 100%;
      text-shadow:1px 1px 0 #fff, 2px 2px 0 rgba(0,0,0,.2);
    }
  }

  .button-container[disabled="true"] {
    border: 0.2em white dashed;
    background-color: transparent;
    min-height: 130px;
  }
}

.game.borked {
  
  padding: 15vh 1em;

  ol li {
    padding-top: 0.5em;
  }
}

.game.active {
  display: grid;
  grid-template-rows:1.5fr 6fr 2fr;
  height:100vh;
  .header {
    display: flex;
    justify-content:space-between;
    div {
      z-index: 2;
    }

    img {
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

    }
  }

  .machine-info-container {
    width: 100%;
    display: flex;

    .machine-container {
      background-repeat: no-repeat;
      background-position:bottom left;
    }
  }

  .machine-info-container.reverse {
    flex-direction: row-reverse;

    .machine-container {
      background-position: bottom right;
    }
  }

  /* CSS specific to iOS devices becuase Safari is garbage */
  @supports (-webkit-overflow-scrolling: touch) {
    .move-selector {
      // iOS won't scroll elements without this
      -webkit-overflow-scrolling: touch;
    }
  }

  #indicator-container {
    display: flex;
    align-items: center;
  }

  #indicator-container canvas {
    margin: auto;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 5px rgba(51, 51, 51, 0.25);
  }

  .machine-container {
    text-align: left;

    img {
      position: relative;
      bottom: -3px;
      max-width: 55vw;
    }

  }
}

@media screen and (min-height: 700px) {
  .machine-info-container {
    // min-height: 25vh;
  }
}
