@import 'variables.scss';

@media all and (orientation:landscape) {
  #root {
    max-width: 30%;
    min-width: 450px;
  }
}

.stage-shadow {
  box-shadow: 0 1px 5px rgba(51, 51, 51, 0.25)
}

#root {
  width: 100vw;
  height: 100vh;
  background: $color-machine-yellow;
}

html {
  backface-visibility: $color-machine-yellow;
}

body {
  align-items: center;
  display: flex;
  font-family: Helvetica Neue, sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
}
