@import 'variables.scss';

.toast {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  bottom: 0;
  left: 0;
  width: 100vw;
  color: white;
  opacity: 1;
  padding: 1rem;
  transition: all 0.5s;
  & *:not(:last-child) {
    margin-right: 1rem;
  }

  img {
    width: 7vw;
  }

  h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  h2 {
    text-shadow:1px 1px 0 rgba(255,255,255,1), 2px 2px 0 rgba($brand-green, 0.3);
  }
}

.toast.hidden {
  opacity: 0;
  bottom: -50%;
  display: flex;
}
