@import 'variables.scss';

.toast {
  position: fixed;
  background: white;
  bottom: 0;
  left: 0;
  width: 100vw;
  color: white;
  opacity: 1;
  transition: all 0.5s;

  img {
    width: 12vw;
    margin: 1em;
  }

  h1 {
    margin-top: 0;
  }

  h2 {
    text-shadow:1px 1px 0 rgba(255,255,255,1), 2px 2px 0 rgba($brand-green, 0.3);
  }
}

.toast.hidden {
  opacity: 0;
  top: 120%;
}
