// Team/machine colours
$color-machine-yellow: rgb(233, 222, 57);
$color-machine-blue: rgb(120, 212, 241);
$color-machine-green: rgb(95, 245, 52);


$color-text: #ccc;

// Sample Red Hat brand colours
$redhat-red: #cc0000;
$redhat-red-dark: #a30000;
$redhat-red-darker: #820000;
$redhat-blue-dark: #004153;
$redhat-blue-light: #a3dbe8;
$redhat-grey-dark: #4c4c4c;
$redhat-grey-light: #dcdcdc;
$redhat-gold: #f0ab00;
$redhat-green: #92d400;

$machine-baby-blue: #28c1ea;
$machine-black: #4b6566;
$machine-green: #60f534;
$machine-pink: #e53ce1;
$machine-purple: #9a45f4;
$machine-red-alt: #ff5050;
$machine-red: #ff5050;
$machine-turquoise: #0ee2d2;
$machine-yellow: #e9de39;
