// Team/machine colours
$color-machine-yellow: rgb(233, 222, 57);
$color-machine-blue: rgb(120, 212, 241);
$color-machine-green: rgb(95, 245, 52);

// Game stopped/over screen
$brand-pink: #fc5169;
$brand-green: #08bbb2;

$machine-baby-blue: #28c1ea;
$machine-black: #4b6566;
$machine-green: #60f534;
$machine-pink: #e53ce1;
$machine-purple: #9a45f4;
$machine-red-alt: #ff5050;
$machine-red: #ff5050;
$machine-turquoise: #0ee2d2;
$machine-yellow: #e9de39;
