@import "variables.scss";

.game-el-container {
  .stopped {
    color: $redhat-red;
  }
}

.game.lobby {
  margin-top: 30vh;
}

.game.paused {
  margin-top: 40vh;
}


#indicator-container {
  position: relative;
  top: -27.5px;
}

#indicator-container canvas {
  border-radius: 50%;
  background: white;
}
