@import "variables.scss";

#root {
  width: 100vw;
  height: 100vh;
  background: $color-bg;
}

html {
  backface-visibility: $color-bg;
}

body {
  align-items: center;
  display: flex;
  font-family: Helvetica Neue, sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
}
