// Colors
$color-bg: rgb(248, 240, 70);
$color-text: #ccc;

// Sample Red Hat brand colours
$redhat-red: #cc0000;
$redhat-red-dark: #a30000;
$redhat-red-darker: #820000;
$redhat-blue-dark: #004153;
$redhat-blue-light: #a3dbe8;
$redhat-grey-dark: #4c4c4c;
$redhat-grey-light: #dcdcdc;
$redhat-gold: #f0ab00;
$redhat-green: #92d400;
